a {
  cursor: pointer;
}

html,
body {
  font-family: 'Baloo Chettan 2', cursive;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 1000px;
}

.full-width {
  width: 1000px;
}

/* {
  border: thin solid red;
}*/

#app {
  padding: 50px 100px;
}

.sidebar {
  background-color: rgb(218, 221, 228);
  padding: 10px;
  width: 300px;
  height: 500px;
}

.main-area {
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 1000px;
}

.data-source {
  position: absolute;
  top: 750px;
  left: 400px;
}

.svg-container {
  display: inline-block;
  position: relative;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
  width: 500px;
  height: 500px;
  
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 250px;
  left: 0;
  
}

.dropdown{
  position: absolute;
  top: 270px;
  left: 1000px;
}


